<ion-header>
    <ion-toolbar color="primary">
      <ion-title >
        <ion-row justify-content-center>
            Confirmação
        </ion-row>   
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content justify-content-center padding>
    <br><br><br><br>
    <ion-card  padding class="welcome-card">
        <ion-grid>
            <ion-row justify-content-center align-items-end > 
              Pagamento Efetuado com Sucesso"
                <ion-button padding [routerLink]="['/tabs/tab1']">Novo Pagamento</ion-button>
            </ion-row>
       </ion-grid>       
    </ion-card>
</ion-content>
