<ion-header>
    <ion-toolbar color="primary">
      <ion-title >
        <ion-row justify-content-center>
            PAGAMENTOS
        </ion-row>   
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list>
    <ion-card padding *ngFor="let item of items">
      <ion-row>
         Ticket:{{item.ticket}}
      </ion-row>
         Entrada:{{item.entrada}} Saída:{{item.saida}}
      <ion-row>
         Pagou:{{calcValue(item)}}
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
