<ion-header>
  <ion-toolbar color="primary">
    <ion-title >
      <ion-row justify-content-center>
          ESTACIONA - PP
      </ion-row>   
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
      <ion-img src="https://png.pngtree.com/element_origin_min_pic/17/03/24/8329de55ad2857d7be4144d0996f711f.jpg"></ion-img>
    </ion-card>
    <ion-grid>
        <ion-row justify-content-center> 
            <ion-item style="text-align: center"> 
                <ion-label color="primary" position="floating">Insira o seu Ticket aqui</ion-label>
                <ion-input type="text" name="ticket" [(ngModel)]="ticket"></ion-input>
              </ion-item>
              <ion-button padding [routerLink]="['/tabs/new-item', ticket]" [disabled]="ticket===''">Confirmar</ion-button>
        </ion-row>
   </ion-grid>
</ion-content>
