<ion-header>
    <ion-toolbar color="primary">
      <ion-title >
        <ion-row justify-content-center>
            SOBRE
        </ion-row>   
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-card padding>
      <ion-row justify-content-center>
        <p style="text-align: center; color: rgb(149, 119, 255)">Aplicativo para cobrança de estacionamento.</p><br><br>
          1- Insera o Ticket<br><br>
          2- Defina a hora de saída e chegada
        </ion-row>
      </ion-card>
  <ion-card padding>
    Desenvolvido por: João Paulo da Silva
  </ion-card>
  <ion-card padding>
    Data: 28/04/2019
  </ion-card>
</ion-content>
